{% extends 'base.html' %}
{% block title %} Завершенные {% endblock title %}
{% block content %}
<div class="filter-container">
<form method="get" id="search-form" class="filter-group">
    <input type="text" name="q" value="{{ query }}" placeholder="Поиск по задаче">
    <button type="submit">Поиск</button>
</form>
</div>
<table class="task-table">
    <thead>
    <tr>
        <th>Название</th>
        <th>Описание</th>
        <th>Приоритет</th>
        <th>Дедлайн</th>
        <th>Статус</th>
        <th>Дата создания</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    {% for task in complete_tasks %}

    <tr>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.priority }}</td>
        <td>{{ task.deadline|date:'d.M.Y' }}</td>
        <td>{{ task.status }}</td>
        <td>{{ task.created_at|date:'d.M.Y' }}</td>
        <td><a href="{% url 'tasks:task-edit' task.pk %}" class="btn btn-primary">Редактировать</a><br>---<br>
            <a href="{% url 'tasks:task-delete' task.pk %}" class="btn btn-primary">Удалить</a></td>

    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}

